<footer class="footer">
  <!-- Inactive -->
  <div class="non-responsive">
    <div class="background">
      <!-- Arrows -->
      <img
        src="/assets/arrow-up.png"
        class="arrow-up"
        (click)="openFooter('open')"
        *ngIf="!blank"
        alt="image"
      />
      <img
        src="/assets/arrow-up.png"
        class="arrow-down"
        (click)="openFooter('close')"
        alt="image"
        *ngIf="blank"
      />
    </div>

    <!-- Form -->
    <form [formGroup]="userForm" (submit)="handleSubmit($event)">
      <div class="flexbox">
        <input type="text" required placeholder="*שם" formControlName="email" />
        <input
          type="text"
          required
          placeholder="*טלפון"
          formControlName="phone"
        />
      </div>

      <div class="flexbox">
        <input type="text" placeholder="דוא״ל" formControlName="message" />
        <input
          type="submit"
          style="cursor: pointer"
          class="background-submit"
          value="שלח >"
        />
      </div>
    </form>

    <span class="number"
      >משרד ראשי מגדל ב.ס.ר 4 רח' מצדה 7 בני - ברק 050-963-6166</span
    >
    <fa-icon [icon]="whatsup" class="whatsup"></fa-icon>
    <img src="/assets/logo-neto.png" class="logo" alt="image" />
  </div>

  <div class="arrowbox inactive" (click)="handleScroll()">
    <img src="assets/arrow-down.png" class="arrow" alt="image" />
  </div>

  <div class="responsive">
    <button class="second-button" (click)="openFooter('open')">
      להשארת פרטים
    </button>
    <button class="first-button" (click)="openFooter('close')">
      התקשרו עכשיו
    </button>
  </div>

  <div class="blankbox">
    <app-blank *ngIf="blank" class="blanks"></app-blank>
    <fa-icon
      *ngIf="blank"
      class="xmark"
      [icon]="xmark"
      (click)="openFooter('close')"
    ></fa-icon>
  </div>
</footer>
