<header>
  <div class="barbox">
    <img src="/assets/xmark.svg" [class]="classXmark" (click)="handleBar(false)" alt="">
  <img src="/assets/Vector.svg" [class]="classBar" (click)="handleBar(true)" alt="svg">
  </div>

  <nav id="nav">
    <ul>

      <li class="logo-li" (click)="handleScroll(0)">
        <img class="logo" src="/assets/logo-neto.png" alt="Logo">
      </li>

      <li class="li li1" (click)="handleScroll(961)">אַחֵר</li>
      <li class="li li2" (click)="handleScroll(1856)">ניקוי</li>
      <li class="li li3" (click)="handleScroll(2676)">תחזוקz</li>
      <li class="li li4" (click)="handleScroll(3607)">בִּטָחוֹן</li>

    </ul>

    <img src="/assets/logo-neto.png" class="responsive-logo" (click)="handleScroll(0)" alt="logo">
  </nav>
</header>

<app-home></app-home>
<app-footer></app-footer>