<div class="megabox">
  <section>
    <div class="homebox">
      <swiper
        [effect]="'fade'"
        [pagination]="{ clickable: true }"
        [loop]="true"
        [autoplay]="{ delay: 3000, disableOnInteraction: false }"
        [keyboard]="{ enabled: true }"
        class="swiper-home">
        
        <ng-template swiperSlide>
          <div class="background">
            <div class="home">
              <h3>
                אחריות – אנו חלוצים ליישום סטנדרטים ומקצוענות שיובל בעלי עסקים
                לעולם מצליח יותר
              </h3>

              <div class="linebox">
                <div class="line"></div>
                <div class="square"></div>
              </div>
            </div>
            <div class="imagebox">
              <img src="/assets/slide1.png" />
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="background">
            <div class="home">
              <h3>
                יושרה – אנו מחויבים לסודיות מוחלטת ושימוש נכון במידע כדי להגן על
                הלקוחות שלנו
              </h3>

              <div class="linebox">
                <div class="line"></div>
                <div class="square"></div>
              </div>
            </div>
            <div class="imagebox">
              <img src="/assets/slide2.png" />
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="background">
            <div class="home">
              <h3>
                מצוינות – בשילוב של אמצעים טכנולוגים המתקדמים ביותר וצוות עובדים
                מיומן ומנוסה שמפקח על העסק שלך היכולת שלנו להגיע לחקר האמת
                וליצור ביטחון בבית העסק היא בהישג יד .
              </h3>
              <div class="linebox">
                <div class="line"></div>
                <div class="square"></div>
              </div>
            </div>
            <div class="imagebox">
              <img src="/assets/slide3.png" />
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="background">
            <div class="home">
              <h3>
                מטרה - המוקד מנוהל על ידי קבוצת אנשים מקצועיים ביותר עם חזון
                ליצור עולם מרוויח ובטוח לבתי עסק .
              </h3>

              <div class="linebox">
                <div class="line"></div>
                <div class="square"></div>
              </div>
            </div>
            <div class="imagebox">
              <img src="/assets/slide4.png" />
            </div>
          </div>
        </ng-template>
      </swiper>


      <img src="/assets/arrow-down.png" (click)="handleScroll()" class="arrows" alt="image">
    </div>
  </section>

  <!-- Section II ( Body ) -->

  <div class="background-body">
    <section id="section2">
      <div class="textbox1">
        <div class="linebigbox1">
        <h3>אודות החברה</h3>
        <div class="linebox">
          <div class="line1"></div>
          <div class="square1"></div>
        </div>
        </div>
        <p>
          הקבוצה החלה את פעילותה כחברה לאספקת כוח אדם וניקיון ומספקת עובדי
          ניקיון ,עובדים כללים ומקצועיים למסעדות, מפעלי ייצור , משרדים , מחסנים
          ,חברות , וגופים מהגדולים בישראל
        </p>
      </div>

      <div class="photobox1"></div>
    </section>

    <!-- Section III -->
    <section id="section3">
      <div class="textbox2">
        <div class="linebigbox2">
        <h3>שירות המוקד</h3>
        <div class="linebox">
          <div class="line2"></div>
          <div class="square2"></div>
        </div>
        </div>
        <div class="listbox">
          כהמשך טבעי לצמיחתה העסקית , קבוצת נטו הרחיבה את תחומי פעילותה וכיום
          מספקת בנוסף שירותי מוקד שמתחבר למצלמות בבית העסק שלך שיחקור כל פיסת
          מידע עם אמצעים טכנולוגיים כדי לסייע לך לדרג ולשפר את יעילות העובדים ,
          לזהות ו למנוע עבירות וגנבות ,וכך להגיע לניהול מושלם בבית העסק
        </div>
      </div>

      <div class="photobox2"></div>
    </section>

    <section id="section4">
      <div class="textbox3">
        <div class="linebigbox3">
        <h3>עלויות</h3>
        <div class="linebox">
          <div class="line3"></div>
          <div class="square3"></div>
        </div>
        </div>
        <p>
          עלות שירותי המוקד 5.7 ₪ לשעת צפייה -בסוף כל יום יישלח דוח עם פויינטרים
          שנגדיר מראש בנוסף תוך זמן קצר יישלחו הקלטות של כל פעילות חשודה בבית
          העסק . זמני השירות נקבעים לפי צרכי בית העסק וניתנים לשינוי מפעם לפעם.
          מינימום 60 שעות בחודש לשירות , המחיר לא כולל דמי שירות בסה"כ 49 ומע"מ,
          הקבוצה שומרת לעצמה את הזכות לשנות את המחיר לפי שיקול דעתה הבלעדי.
        </p>
      </div>
      <img src="/assets/7.jpg" alt="map" class="map" (click)="openImage()" />
    </section>

    <section id="section5">
      <div class="box">
        <div class="linebigbox4">
        <h3>אודות קבוצת בסר</h3>
        <div class="linebox">
          <div class="line4"></div>
          <div class="square4"></div>
        </div>
        </div>

        <img src="/assets/last.png" alt="image" />

        <p>
          קבוצת ב.ס.ר הינה קבוצה הנדסית מובילה, המתמחה בניהול פרויקטים בתחום
          הנדל”ן בישראל ובעולם מזה 35 שנה. הקבוצה מנוהלת על ידי אינג’ נחשון
          קיויתי ולצידו צוות מנהלים מקצועי. הקבוצה הגתה ויסדה את תחום קבוצות
          הרכישה בישראל ומובילה אותו מזה שלושה עשורים, במתכונת של בנייה עצמית
          המכונה “שיטת ב.ס.ר”. קבוצת ב.ס.ר נהנית ממוניטין רב המתבסס על יכולות
          ניהול, תכנון וביצוע של פרויקטים נדל”נים, לאורך השנים יזמה והקימה
          הקבוצה אלפי יחידות דיור ממגורים ומאות אלפי מ”ר של שטחי מסחר ומשרדים
          בישראל, ארה”ב ואירופה. הקבוצה לוקחת חלק פעיל בפרויקט “אמץ לוחם” זה
          מספר שנים, במסגרתו היא מאמצת את היחידה המובחרת “אגוז”.
        </p>
        
      </div>
      <div class="photobox3"></div>
    </section>
  </div>
</div>